.box-row .infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
}
.compare-vs {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: white;
  background: #d10030;
  padding: 10px;
  border-radius: 100%;
}

.compare-options {
  margin-left: 15px;
  background-color: #ebebeb;
  padding: 10px 20px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.compare-button {
  margin-left: 15px;
  background: #d10030 !important;
  border: 1px solid #d10030 !important;
}

.comapre-values {
  font-size: 20px;
}
